<div class="wrpper">
    <div class="bottom">
      <div class="title">
        <%= link_to("My Best Eleven", "#", {class: "title__name"})%>
      </div>
      <div class="box">
        <% if user_signed_in? %>
          <div class="box__left">
            <%= link_to "新規投稿", new_post_path, class: "box__left--item" %>
          </div>
          <div class="box__right">
           <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "box__right--pic" %>
          </div>
          <div class="box__main">
            <%= link_to "マイページ", "/users/#{current_user.id}", class: "box__main--pege" %>
          </div>
        <% else %>
          <div class="title__left">
             <%= link_to("新規ログイン","/users/sign_in", {class: "title__left--item"}) %>
          </div>
          <div class="title__right">
             <%= link_to("ログイン","/users/sign_up", {class: "title__right--pic"}) %>
          </div>
        <% end %>
      </div>
    </div>
    <div class=home>~自分だけのベストイレブンをつくろう~</div>
    <div>
        <%= link_to "一覧", long_posts_path, class: "box__right--pic" %>
    </div>
  </div>
 