<div class="go">
  <div class="win">
   <div class="post">
          <div class="post__left">
            <%= link_to "New Post", new_post_path, class: "post__left--item" %>
          </div>
          <div class="post__main">
            <%= link_to "My page", "/users/#{current_user.id}", class: "post__main--pege" %>
          </div>
          <div class="post__show">
             <%= link_to "Top page", root_path, class: "post__show--top" %>
          </div>
   </div>
  </div>
<div class="best">
   <div class="test">
    <div class="test__right">
    <div class="text__right--main">List of Posts</div>
    </div>
     <div class="test__left">
       <% @posts.each do |post| %>
      <div class="test__left--item">
      <span class="title-tab2">タイトル </span>
       <%= link_to post.title, post_path(post.id) %>
     </div> 
     <% end %>
     <%= paginate(@posts) %>
     </div>      
 </div>
</div>

