<div class="warpper">
  <div class="soccer">My Best Eleven
　</div>
　<%= form_with model: @post, class: :form,local: true do |form| %>
    <%= form.text_field :title, placeholder: :よろしく,　class: :form__top%>
    <%= form.text_field :cf, placeholder: :a, class: :form__CF%>
    <%= form.text_field :rwg, placeholder: :b, class: :form__RWG  %>
    <%= form.text_field :lwg, placeholder: :c, class: :form__LWG  %>
    <%= form.text_field :lcm, placeholder: :d, class: :form__LCM  %>
    <%= form.text_field :rcm, placeholder: :f, class: :form__RCM  %>
    <%= form.text_field :cdm, placeholder: :g, class: :form__CDM  %>
    <%= form.text_field :rsb, placeholder: :h, class: :form__RSB  %>
    <%= form.text_field :rcb, placeholder: :i, class: :form__RCB  %>
    <%= form.text_field :lcb, placeholder: :j, class: :form__LCB  %>
    <%= form.text_field :rcb, placeholder: :k, class: :form__RSB  %>
    <%= form.text_field :gc, placeholder: :l, class: :form__GC %>
    <%= form.submit "投稿する"%>
  <% end %>

 
  

