<div class="header">
</div>
<div class="main">
  <div class="main__left">
    <div class="goal">
      <div class= "goal__AA">
        <%= @post.cf %>
      </div>
      <div class= "goal__BB">
        <%= @post.rwg %>
      </div>
      <div class= "goal__CC">
        <%= @post.lwg %>
      </div>
      <div class= "goal__DD">
        <%= @post.lcm %>
      </div>
      <div class= "goal__EE">
        <%= @post.rcm %>
      </div>
      <div class= "goal__FF">
        <%= @post.cdm %>
      </div>
      <div class= "goal__GG">
        <%= @post.lsb %>
      </div>
      <div class= "goal__HH">
        <%= @post.rcb %>
      </div>
      <div class= "goal__II">
        <%= @post.lcb %>
      </div>
      <div class= "goal__KK">
        <%= @post.rsb %>
      </div>
      <div class= "goal__LL">
        <%= @post.gc %>
      </div>
   </div>
   </div>
  <div class="main__right">
    <div class="main__right--top"></div>
    <div class="main__right--main">
      <div class="comments">
        ＜コメント一覧＞
        <% if @comments %>
           <% @comments.each do |comment| %>
             <div class="comments__box">
                  <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
                  <%= comment.text %>
                  
             </div>
           <% end %>
        <% end %>
    </div>
    </div>
    <div class="main__right--comment">
        <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    </div>
  </div>
</div>