<div class="header">
    <div class="line">
          <div class="line__left">
            <%= link_to "New Post", new_post_path, class: "line__left--item" %>
          </div>
           <div class="line__main">
            <%= link_to "My page", "/users/#{current_user.id}", class: "line__main--pege" %>
          </div>
          <div class="line__show">
             <%= link_to "List of posts", long_posts_path, class: "line__show--top" %>
          </div>
          <div class="line__right">
             <%= link_to "Top page", root_path, class: "line__right--top" %>
          </div>
    </div>
</div>
<div class="main">
  <div class="main__left">
    <div class="goal">
      <div class= "goal__AA">
        <%= @post.cf %>
      </div>
      <div class= "goal__BB">
        <%= @post.rwg %>
      </div>
      <div class= "goal__CC">
        <%= @post.lwg %>
      </div>
      <div class= "goal__DD">
        <%= @post.lcm %>
      </div>
      <div class= "goal__EE">
        <%= @post.rcm %>
      </div>
      <div class= "goal__FF">
        <%= @post.cdm %>
      </div>
      <div class= "goal__GG">
        <%= @post.lsb %>
      </div>
      <div class= "goal__HH">
        <%= @post.rcb %>
      </div>
      <div class= "goal__II">
        <%= @post.lcb %>
      </div>
      <div class= "goal__KK">
        <%= @post.rsb %>
      </div>
      <div class= "goal__LL">
        <%= @post.gc %>
      </div>
   </div>
   </div>
  <div class="main__right">
    <div class="main__right--top">
    いいね件数: <%= @post.likes.count %>
        <% if current_user.likes.find_by(post_id: @post.id) %>
          <%= link_to "いいね解除", post_like_path(@post), method: :delete %>
        <% else %>
          <%= link_to "いいね", post_likes_path(@post), method: :post %>
        <% end %>
        <%# <h2>いいねしたユーザー</h2> %>
        <%# <% @post.liked_users.each do |user| %> 
          <%# <li><%= user.nickname %></li> 
        <%# <% end %> 
    </div>
    <div class="main__right--main">
      <div class="comments">
        <% if @comments %>
           <% @comments.each do |comment| %>
             <div class="comments__box">
                  <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
                  <%= comment.text %>      
             </div>
           <% end %>
        <% end %>
    </div>
    </div>
    <div class="main__right--comment">
        <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true, id: "new_comment") do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" , class: "textbox"%>
        <%= form.submit "SEND", class: "form__submit" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    </div>
  </div>
</div>