<div class="header">
    <div class="collect">
        <% if current_user.likes.find_by(post_id: @post.id) %>
          <%= link_to  post_like_path(@post), method: :delete do %>
          <div class="hope">
              <div class="light">お気に入りに解除する</div>
              <span class="fa fa-star star-btn-none"><%=@post.likes.count %></span>
          </div>
          <% end %>
        <% else %>
          <%= link_to  post_likes_path(@post), method: :post do %>
          <div class="book">
              <div class="hotel">お気に入りに登録する</div>
              <span class="fa fa-star star-btn"><%=@post.likes.count %></span>
               
              
          </div>
          <% end %>
        <% end %>
    </div>
    <div class="line">
          <div class="line__left">
            <%= link_to "New Post", new_post_path, class: "line__left--item" %>
          </div>
           <div class="line__main">
            <%= link_to "My page", "/users/#{current_user.id}", class: "line__main--pege" %>
          </div>
          <div class="line__show">
             <%= link_to "List of posts", long_posts_path, class: "line__show--top" %>
          </div>
          <div class="line__right">
             <%= link_to "Top page", root_path, class: "line__right--top" %>
          </div>
    </div>
</div>
<div class="main">
  <div class="main__left"></div>
  <div class="main__middle">
    <div class="goal">
      <div class= "goal__AA">
        <%= @post.cf %>
      </div>
      <div class= "goal__BB">
        <%= @post.rwg %>
      </div>
      <div class= "goal__CC">
        <%= @post.lwg %>
      </div>
      <div class= "goal__DD">
        <%= @post.lcm %>
      </div>
      <div class= "goal__EE">
        <%= @post.rcm %>
      </div>
      <div class= "goal__FF">
        <%= @post.cdm %>
      </div>
      <div class= "goal__GG">
        <%= @post.lsb %>
      </div>
      <div class= "goal__HH">
        <%= @post.rcb %>
      </div>
      <div class= "goal__II">
        <%= @post.lcb %>
      </div>
      <div class= "goal__KK">
        <%= @post.rsb %>
      </div>
      <div class= "goal__LL">
        <%= @post.gc %>
      </div>
   </div>
  </div>
  <div class="main__right"></div>
</div>
<div class="bottom">
    <div class=igaro></div>
    <div class=dhea>
      <div class=present>
        <div class="comments">
                <% if @comments %>
                  <% @comments.each do |comment| %>
                    <div class="comments__box">
                          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
                          <%= comment.text %>      
                    </div>
                  <% end %>
                <% end %>
        </div>
      </div>
      
        <div class="find">
                <% if current_user %>
                <%= form_with(model: [@post, @comment], local: true, id: "new_comment") do |form| %>
                  <%= form.text_area :text, placeholder: "コメントする", rows: "2" , class: "textbox"%>
                  <%= form.submit "SEND", class: "form__submit" %>
                <% end %>
                <% else %>
                <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
                <% end %>
        <div>

   </div>
</div>
</div>
<div class="mata"></div>
</div>
 